.container {
	width: 990px;
}

#home-carousel {
	width: 80%;
	max-width: 80%;
	margin:auto;
}

h1 {
	font-family: georgia, times, serif;
	text-align: center;
}

#footer {
	background: #ddd;
	margin-top: 20px;
	height: 30px;
}

.footer {
	font-size: 1em;
	line-height: 30px;
	color: black;
	text-align: center;
}