p {
	font-family: calibri;
	font-size: 13pt
}
h1	{
	font-family: times;
	font-size: 40pt;
	color: #3e108f;
}
header {
	text-align: center;
}

div {
	text-align: center;
}

a {
	vertical-align: top;
}

body {
	background-color: #e7f6fd;
}
